
@font-face {
	font-family: "HappyTimes";
	src: url("/static/happy-times.woff");
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Verdana', sans-serif;
	font-size: 70%;

	list-style: square;
}

article {
	font-size: 110% !important;
}

main {
	width: 600px;
	/* margin-inline: auto; */
	padding-bottom: 6em;
}

footer {
	width: 300px;
	margin-inline: auto;
}

header {
	display: flex;
	& img {
		padding-top: 15em;
	}
	& svg {
		width: 100%;
	}
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-block: 1em;
}

figure {
	margin: 0;
	padding-bottom: 1em;
}

svg{
	font-family: MyCustom;
	
}

li {
	padding-block: 2px;
}

video {
  -webkit-clip-path: url(#clip);
  clip-path: url(#clip);
  position: absolute;
  z-index: 1;
  max-width: 600px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  
}

video.show {
	opacity: 1;
}

figcaption {
	padding-inline: 1px;
}
